<?xml version="1.0" encoding="utf-8" standalone="yes" ?>
<settings>
    <category label="30600"> <!-- Settings -->
        <setting label="30609" type="lsep" /> <!-- Preview duration -->
        <setting
            label="30625"
            type="slider"
            id="notificationSeconds"
            default="15"
            range="5,60"
            option="int"
        />
        <setting
            label="30705"
            type="enum"
            id="logLevel"
            lvalues="30042|30043|30044"
            default="0"
        />
        <setting
            label="30805"
            type="action"
            action="RunScript(service.nexttrack,test_window)"
        />
    </category>
</settings>
