<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="30500"> <!-- Interface -->
        <setting label="30503" type="enum" id="simpleMode" lvalues="30038|30039" default="1"/>
    </category>
    <category label="30600"> <!-- Behaviour -->
        <setting label="30032" type="bool" id="enablePlaylist" default="false"/>
        <setting label="30605" type="bool" id="includePlayed" default="false"/>
        <setting label="30609" type="lsep"/> <!-- Preview duration -->
        <setting label="30625" type="slider" id="notificationSeconds" default="15" range="5,60" option="int"/>
    </category>
    <category label="30700"> <!-- Expert -->
        <setting label="30703" type="bool" id="disableNextTrack" default="false"/>
        <setting label="30705" type="enum" id="logLevel" lvalues="30042|30043|30044" default="0"/>
    </category>
    <category label="30800"> <!-- Developer -->
        <setting label="30801" type="lsep"/> <!-- Test the GUI -->
        <setting label="30803" type="bool" id="enableDemoMode" default="false"/>
        <setting label="30805" type="action" action="RunScript(service.nexttrack,test_window,script-nexttrack-nexttrack.xml)"/>
        <setting label="30807" type="action" action="RunScript(service.nexttrack,test_window,script-nexttrack-nexttrack-simple.xml)"/>
    </category>
</settings>
